{% extends "base.html" %}

{% block content %}


<!-- ========================= -->
<!-- Card Display -->
<!-- ========================= -->

<div class="contianer">

    <div class="row row-cols-3">

        <!-- day1 -->
        {% if dayNum >= 1 %}
            <div col>
                <p>day1</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day1.1</small>
                    </div>
                    <img src="{{ pr['d1m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d1m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>
            
            
            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day1.2</small>
                    </div>
                    <img src="{{ pr['d1m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d1m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
            
        {% endif %}
        <!-- end of day1 -->

        <!-- day2 -->
        {% if dayNum >= 2 %}
            <div col>
                <p>day2</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.1</small>
                    </div>
                    <img src="{{ pr['d2m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d2m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>

            
            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d2m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d2m2']['label'] }}</h5>
                        <p>Ingredients:</p>
 
                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!-- end of day2 -->

        <!-- day3 -->
        {% if dayNum >= 3 %}
            <div col>
                <p>day3</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day3.1</small>
                    </div>
                    <img src="{{ pr['d3m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d3m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>

            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d3m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d3m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!-- end of day3 -->

        <!-- day4 -->
        {% if dayNum >= 4 %}
            <div col>
                <p>day4</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day4.1</small>
                    </div>
                    <img src="{{ pr['d4m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d4m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>

            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d4m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d4m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!-- end of day4 -->

        <!-- day5 -->
        {% if dayNum >= 5 %}
            <div col>
                <p>day5</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day5.1</small>
                    </div>
                    <img src="{{ pr['d5m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d5m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>

            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d5m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d5m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!-- end of day5 -->

        <!-- day6 -->
        {% if dayNum >= 6 %}
            <div col>
                <p>day6</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day6.1</small>
                    </div>
                    <img src="{{ pr['d6m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d6m1']['label'] }}</h5>
                        <p>Ingredients:</p>
 
                    </div>
                </div>
                <!-- end of card -->
            </div>

            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d6m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d6m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!--end of day6 -->

        <!-- day7 -->
        {% if dayNum >= 7 %}
            <div col>
                <p>day7</p>
            </div>

            <div class="col card-deck">
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day7.1</small>
                    </div>
                    <img src="{{ pr['d7m1']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d7m1']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                <!-- end of card -->
            </div>

            <div class="col card-deck">
                {% if mealNum == 2 %}
                <div class="card">
                    <div class="card-footer">
                        <small class="text-muted">day2.2</small>
                    </div>
                    <img src="{{ pr['d7m2']['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pr['d7m2']['label'] }}</h5>
                        <p>Ingredients:</p>

                    </div>
                </div>
                {% endif %}
                <!-- end of card -->
            </div>
        {% endif %}
        <!-- end of day7 -->

    </div>
    <!-- end of row -->

</div>
<!-- end of container -->

{% endblock %}



