{% extends "base.html" %}

{% block content %}


{% for mess in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{mess}}
  </div>
{% endfor %}


<div class="container">
    <div class="row row-cols-3">
        <!-- <form action="{{url_for('add')}}" method="POST"> -->
        <!-- protein form -->
        <div class="col">
            <form action="{{url_for('add')}}" method="POST">
                <label for="protein">Protein: </label>
                <input type="text" name="pro" placeholder="ideal protein" required>
                <input type="submit" value="add">
            </form>
            <ul>
                {% for protein in ingPro %}
                <li>{{protein.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- end of protein form -->


        <!-- vegetables form -->
        <div class="col">
            <form action="{{url_for('add')}}" method="POST">
                <label for="vagetables">vegetables: </label>
                <input type="text" name="veg" placeholder="ideal vegetables">
                <input type="submit" value="add">
            </form>
            <ul>
                {% for vegetables in ingVeg %}
                <li>{{vegetables.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- end of vegetables form -->


        <!-- carbohydrates form -->
        <div class="col">
            <form action="{{url_for('add')}}" method="POST">
                <label for="carbohydrates">carbohydrates: </label>
                <input type="text" name="carb" placeholder="ideal carbohydrates">
                <input type="submit" value="add">
            </form>
            <ul>
                {% for carbohydrates in ingCarb %}
                <li>{{carbohydrates.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- end of carbohydrates form -->
        </form>
    <!-- </div> -->
    <!-- end of the row -->
</div>
<!-- end of the container -->




<!--back and generate button -->
<a class="btn btn-outline-success float-left" href="mealnum" role="button">Back</a>
<a class="btn btn-outline-info float-right" href="generate" role="button">Generate</a>

<!-- end of back and generate buttons -->


{% endblock %}